.text-primary,
.nav-item {
  color: #2e266f !important;
}
.nav-item {
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
}
.navbar-brand {
  display: none;
  visibility: hidden;
}

.upload {
  background-color: #e5e4e2;
  padding: 100px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form-control {
  background: #e5e4e2;
}

.submit-button {
  position: absolute;
  left: 45%;
  right: 45%;
}

footer {
  margin-top: 300px;
  height: 350px;
  background-color: #efc81a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width: 640px) {
  .upload,
  .form-control {
    width: 100%;
  }
  .btn {
    width: 40%;
    left: 30%;
    right: 30%;
  }
}
